.navigation-item:hover, .navigation-item:active, .active{
    color: #10c469 !important;
}
.recipe-image{
    width:500px;
    height:250px;
}
footer{
    position: fixed !important;
}

.header-text-color {
    color: #F5F5F5 !important;
}

